.main {
  margin: 80px auto;
  max-width: 80%;
}

.posts {
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 80px 40px;
}

.post {
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 5px;
  width: 250px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}

/* クリックしたら波紋が広がる。 参考:https://coco-factory.jp/ugokuweb/move01/7-1-11/ */
.post::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(circle, #fff 10%, transparent 10%) no-repeat 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.3s, opacity 1s;
}

.post:active::after {
  transform: scale(0, 0);
  transition: 0s;
  opacity: 0.3;
}

.post:hover {
  box-shadow: rgba(50, 50, 93, 0.6) 0px 16px 32px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.details {
  padding: 12px;
}

.postImage {
  border-radius: 5px 5px 0 0;
}

.defaultImage {
  width: 250px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postTitle {
  font-size: 18px;
  color: #000;
}

.postDescription {
  font-size: 14px;
  color: #626262;
}

@media (prefers-color-scheme: dark) {
  .post {
    background-color: #383838;
  }

  .postTitle {
    color: #fff;
  }

  .postDescription {
    color: #b9b9b9;
  }

  .defaultImage {
    background-color: #efefef;
  }
}
