.container {
  background-color: #fffcf2;
}

.main {
  margin: 50px 0;
}

.posts {
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 80px 30px;
}

.post {
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 5px;
  width: 250px;
}

.details {
  padding: 12px;
}

.postTitle {
  font-size: 18px;
  color: #000;
}

.postDescription {
  font-size: 14px;
  color: #626262;
}
